{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ user.name }} {% if user.discoverable %} is on the market :D{% else %}doesn't want to have fun :/{% endif %}</h1>
    <h4>Bio</h4>
    <p>{{ user.bio|escape }}</p>
    <h4>Search</h4>
    <ul>
        <li>Min age : {{ user.age_filter_min }}</li>
        <li>Max age : {{ user.age_filter_max }}</li>
        <li>Range : {{ user.distance_filter * 1.6 }}km</li>
        <li>Gender : {{ user.gender_filter|gender }}</li>
    </ul>

    {% include 'tinder/_user.html.twig' with {user: user} %}

{% endblock %}