<!DOCTYPE html>
<!--[if IE 8]>
<html class="lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tinder API testing app">
    <meta name="author" content="Timothee Moulin hello@timothee-moulin.me">
    <title>Tinder API</title>

    <style>
        #pics li {
            display: inline;
            list-style-type: none;
        }

        #pics img {
            max-width: 100px;
        }
    </style>
</head>
<body>
<ul id="menu">
    {% if(app['service.tinder'].getSession('tinder_token')) %}
        <li><a href="{{ path('facebook_logout') }}">Logout</a></li>
        <li><a href="{{ path('tinder_me') }}">Me</a></li>
        <li><a href="{{ path('tinder_updates') }}">Matches</a></li>
        <li><a href="{{ path('tinder_recs') }}">Recs</a></li>
    {% else %}
        <li><a href="{{ path('facebook_login') }}">Login</a></li>
    {% endif %}
</ul>
{% set messages = app.session.getFlashBag.get('message') %}
{% if messages %}
    <section>
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
{% block content %}
{% endblock %}
<footer>
    <hr/>
    Tinder API testing app
</footer>
</body>
</html>
